/* LAPDI Facepile Stylesheet */
.tspfcp_wp_user_grid{
}
.tspfcp_wp_user_grid table{
	width:auto;
	border: none;
	border-top: none;
	border-bottom: none;
	margin: 0px;
	line-height: 0px;
}
.tspfcp_wp_user_table_cell{
}

.tspfcp_wp_user_grid_text{
}

.tspfcp_wp_user_table{
}

.tspfcp_wp_user_table td{
	padding:0px;
	border: none;
	border-top: none;
	border-bottom: none;
}
.tspfcp_wp_user_table .tspfcp_wp_user_table_cell img{
	border-radius: 0px;
	box-shadow:none;
}