/* TSP Facepile Stylesheet */
.tspf_wp_user_grid{
}
.tspf_wp_user_grid table{
	width:auto;
	border: none;
	border-top: none;
	border-bottom: none;
	margin: 0px;
	line-height: 0px;
}
.tspf_wp_user_table_cell{
}

.tspf_wp_user_grid_text{
}

.tspf_wp_user_table{
}

.tspf_wp_user_table td{
	padding:0px;
	border: none;
	border-top: none;
	border-bottom: none;
}
.tspf_wp_user_table .tspf_wp_user_table_cell img{
	border-radius: 0px;
	box-shadow:none;
}